
//color
c-white = #fff
c-blue = #1ac1d6
c-blue-light = #ddedf4
c-grey = #f5f5f5
c-black = #333
c-black2 = #999
c-red = #f55d54
c-green = #19be6b
c-background-dark = #ecf1f5
c-border = #ddd

c-sml-yellow = #fffde4